.profile-top-menu {
    padding-top: 15px;
    margin-top: 30px;
    height: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-bottom: 23px;
}
.profile-content {
    width: 90%;
    padding-left: 5%;
}
.profile-content .profile-user-img img{
    width: 60px;
    height: 60px;
}
.profile-content .profile-user-name {
    display: table;
    padding-left: 10px;
}
.profile-content .btn-complete {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #1783ff;
    color: #fff;
    font-weight: 700;
}
.profile-content input {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #D8D8D7;
    border-left: none;
    width: 90%;
}

.profile-content input:focus {
    outline: none;
    border-bottom: 1px solid #D8D8D7;
}
.profile-content .profile-user-information>div>div {
    padding-top: 20px;
}
