.user-avatar {
    border-radius: 100%;
}

.user-menu-item {
    border-bottom: 1px solid;
}

.user-item {
    /*border-left: 0.5px solid;*/
    /*border-color: #eaeaea;
    border-bottom: 0.5px;*/
    border-radius: 10px;
    box-shadow: 2px 2px 2px #e2dddd;
    margin-top: 20px;
}

.user-list-content {
    margin-top: 30px;
    padding-left: 30px;
}

.user-item-info a {
    color: #00a6e9;
}

.user-item-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.disable-input: {
    border: none;
}

.active {
    border: none;
}

.someclass {
    border: none;
    font-weight: 100;
}

.popup-form input {
    width: 90%;
    font-weight: 100;
}

.remove-user-bt {
    margin-top: 15px;
}

.remove-user-bt button {
    color: red;
    border: 1px solid green;
    border-radius: 20px;
}

.select2-selection--single {
    border: none !important;
}

#equalheight {
    overflow: hidden;
    padding: 10px;
}

.user-list-scroll {
    height: 450px;
    overflow-y: auto;
}

/*.aligned-row {
    display: flex;
    flex-flow: row wrap;
    &::before {
        display: block;
    }
}*/

#save-user-button {
    border-radius: 5px !important;
    background-color: #2072f9;
    border: none !important;
}

#cancel-update-user-button {
    border-radius: 5px !important;
    background-color: #fc2850;
    border: none !important;
}
#myModal input {
  margin-top: 5px;
}
#info-delete-message {
  margin-top: 50px;
  text-align: center;
}
