<div class="row right-create-project">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h4><strong>Tạo Dự Án </strong></h4>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="form-group">
        <div class="btn btn-default btn-cancel-project">Hủy</div>
        <div class="btn btn-default btn-complete-project"><i class="fa fa-check" aria-hidden="true"></i> Hoàn Thành</div>
        </div>
    </div>
</div>
 <div class="panel panel-default">
        <div class="panel-heading project-panel-heading" >

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-lg-1 wrap-img-project">
                    <img class="project-img" ng-src="{{projectInfomation.thumbnail}}">
                </div>
                <div class="col-xs-10 col-sm-10 col-lg-10 wrap-project">
                    <div class="row">
                        <h6> Tên dự án</h6>
                        <h5 class="project-detail-name">
                        <input type="text" class="form-control" id="usr" placeholder="Tên dự án"></h5>

                    </div>
                </div>
            </div>
        </div>
        <div class="row project-info">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 test1">
                <img ng-src="./assets/img/icons/icn-location-of-project.png">
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <input type="text" class="form-control" id="usr" placeholder="Địa điểm">
            </div>
        </div>
        <div class="row project-info">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img ng-src="./assets/img/icons/icn-companies-of-project.png">
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                 <input type="text" class="form-control" id="usr" placeholder="Chủ đầu tư">
            </div>
        </div>
        <div class="row project-info">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img ng-src="./assets/img/icons/icn-hectares-of-project.png">
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <input type="text" class="form-control" id="usr" placeholder="Diện tích">
            </div>
        </div>
        <div class="row project-info">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img ng-src="./assets/img/icons/dollar.png">
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <input type="text" class="form-control" id="usr" placeholder="Vốn đầu tư">
            </div>
        </div>
        <div class="row project-info">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img ng-src="./assets/img/icons/icn-group-of-project.png">
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <input type="text" class="form-control" id="usr" placeholder="Đơn vị quản lý">
            </div>
        </div>
        <div class="row project-info">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img ng-src="./assets/img/icons/icn-start-date.png">
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="usr" placeholder="Ngày bắt đầu">
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img ng-src="./assets/img/icons/icn-end-date.png">
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="usr" placeholder="Ngày kết thúc">
            </div>
        </div>
        <div class="row project-info">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img ng-src="./assets/img/icons/icn-content.png">
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <input type="text" class="form-control" id="usr" placeholder="Mô tả">
            </div>
        </div>
    </div>
