.project-create button:focus,
.project-create button:active:focus {
	outline: none!important;
}
.project-create input {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid transparent;
	border-left: none;
	width: 90%;
	/*background-color: #f7f7f7;*/
}

.project-create input:focus {
	outline: none;
	border-bottom: 1px solid #D8D8D7;
}

.project-create .project-list-icon li textarea {
	margin-left: 28px;
	width: 90%;
	border: none;
	resize: none;
	/*background-color: #f7f7f7;*/
}
.project-create .project-list-icon textarea:focus {
	outline: none;
}
.project-create ul {
	padding-left: 0px;
}

.project-create li {
	list-style: none;
}
.project-create img {
	display: block;
	margin: auto;
}
.header-project {
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background-color: #FFD000;
}
.project-side-menu-container {
	height: 100vh;
	background-color: #5f5f5f;
}
.project-side-menu {
	margin: auto;
	width: 60%;
	margin-top: 50px;
}
.project-side-menu li{
	padding-top: 20px;
}
.project-side-menu li p {
	color: #fff;
	margin-left: 40px;
}
.project-side-menu li img {
	float: left;
}

.side-menu-active {
	font-weight: bold;
	color: #ebc741;
}
.proj-create-body {
	margin: 10px;
	padding: 10px;
	border: 1px solid #d8d8d8;
}

.proj-create-body-ava img {
	float: left;
	width: 65px;
	cursor: pointer;
	height: 65px;
}
.proj-create-body-ava input {
	display:none;
}
.project-caret {
	float: right;
}
.project-create .top-menu {
    padding-bottom: 17px;
}
.project-create .top-menu .task-create-title {
    margin-top: 9px;
    padding-left: 28px;
}
.project-create .top-menu div{
	margin-top: 5px;
}

.project-create-dropdown-btn {
	text-align: left;
	border: none;
	background: none;
	width: 100%;
}

.proj-create-drop-list li{
	margin-left: 15px;
	padding-left: 15px;
}
.project-btn-group {
	margin-right: 10px;
	float: right;
}
.project-create .btn-cancel {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	color: #fff;
	background-color: #fc2850;
	font-weight: 700;
}
.add-document-popup-container .btn-cancel {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	color: #fff;
	background-color: #fc2850;
	font-weight: 700;
}
.project-create .btn-complete {
	margin-left: 10px;
	padding-left: 13px;
	padding-right: 13px;
	border-radius: 10px;
	background-color: #1783ff;
	color: #fff;
	font-weight: 700;
}

/*.project-create-icon ul {
	padding-left: 0px;
	margin: auto;
}*/

.project-create .project-detail{
	padding-top: 12px;
	margin-left: 68px;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 1%;
	height: 65px;
}
.project-create .project-detail p {
	margin: 0px;
	color: #808394;
}
.project-create .project-detail input {
	font-size: 20px;
	font-weight: 700;
}
.project-create .project-detail input:focus {
	border-bottom: none;
}

/*.project-create .project-list-icon {
	padding-left: 20px;
	padding-top: 15px;
}
*/
.project-create .project-list-icon-container li img {
	float: left;
}
.project-create .project-list-icon li input {
	margin-left: 28px;
}
.project-list-icon>li {
	margin-top: 15px;
	margin-bottom: 10px;
}
.project-create .img-circle {
	float: right;
	display: table-cell;
	position: relative;
}
.project-create .img-circle img {
	float: left;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin: 5px;
}

.project-create .user-welcome {
	float: right;
	padding-top: 15px;
	padding-right: 5px;
}
.project-create .user-welcome p {
	font-weight: bold;
}

.project-create .side-menu-active {

}
.calendar-input-group-container div>img {
	padding-top: 3px;
}

.calendar-input-group .calendar-date-picker {
	border: none;
	padding-left: 3px;
	padding-top: 0px;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	//color: #9c9c9c;
	text-align: left;
}
.calendar-input-group .calendar-date-picker:focus {
	border-bottom: none;
	outline: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}
.uib-datepicker-popup,
.uib-datepicker-popup>li:focus,
.uib-datepicker-popup>li div:focus,
.uib-datepicker-popup>li div table:focus {
	outline: none!important;
}
.glyphicon-chevron-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
}
.glyphicon-chevron-right:before {
	content: "";
}

.glyphicon-chevron-left {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid black;
}
.glyphicon-chevron-left:before {
	content: "";
}
.proj-create-body-ava img:hover{
	cursor: pointer;
}
.project-edit-start-date,
.project-edit-end-date {
	color: inherit!important;
}
.modal-select-user{
	padding: 5px;
}
.field-required{
	width: 7px;
	height:7px;
	background-color: red;
	border-radius: 50%;
}
.select-circle{
	height: 35px;
}
