<form name="addDocumentForm" class="add-document-popup-container">
        <div class="modal-header">
        <h4 class="modal-title" id="modal-title"><strong>VĂN BẢN</strong></h4>
        </div>
        <div class="row nopadding alert alert-danger" ng-if="error" role="alert">
          <div class="col-xs-12">
            <strong></strong>{{errorMessage}}
          </div>

        </div>
        <div class="modal-body" id="modal-body">
                <div class="form-group">
                    <label>Số liệu văn bản: </label>
                    <input type="text" ng-model="$ctrl.document_number" ng-change="projectNameChanged()" required="" class="form-control"  name="">
                </div>
                <div class="form-group">
                    <label>Cơ quan ban hành: </label>
                    <button class="button-noborder-fullwidth" type="button" ng-click="openBoxOrganization('organization')">{{organizationName()}}</button>
                    <!-- <input type="hidden" ng-model="$ctrl.organization._id" required="" class="form-control" name=""> -->
                </div>
                <div class="form-group">
                    <label>Mô tả:</label>
                    <textarea ng-model="$ctrl.description" required="" class="form-control no-margin"></textarea>
                </div>
                <div class="form-group publish-day">
                    <label>Ngày ban hành:</label>
                    <p class="calendar-input-group input-group">
                        <input type="button"
                         class="form-control calendar-date-picker {{$ctrl.publish_date? '': 'txt-publish-date'}}" uib-datepicker-popup="{{format}}"
                         ng-model="$ctrl.publish_date" style="{{changeEndDateStyle}}" ng-change="changeEndDate()" is-open="popup2.opened" datepicker-options="dateOptions" show-button-bar="false" showWeeks="false" ng-click="open2()"
                         value="{{$ctrl.publish_date | formatDate:'Ngày ban hành'}}"
                        name="publish_date"/>
                    </p>
                </div>
                <div class="form-group">
                    <label>
                        <input type="radio" checked="true" value="0" ng-model="$ctrl.type" name="type">
                        Công văn đến
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="radio" value="1" ng-model="$ctrl.type" name="type">
                        Công văn đi
                    </label>
                </div>

                <div class="form-group" ng-if="addFor==1 || $ctrl.objectType == 1">
                    <label>
                        <input type="radio" value="2" ng-model="$ctrl.type" name="type">
                        Công văn kết quả
                    </label>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger btn-doc-cancel" type="button" ng-click="$ctrl.cancel()">Hủy</button>
            <button class="btn btn-primary btn-doc-save"
                    ng-disabled="!addDocumentForm.$valid || $ctrl.submiting"
                    type="button"
                    ng-click="$ctrl.ok()">Lưu</button>
        </div>
    </form>
