 <div class="modal-header">
    <div class="col-xs-4">
      <h5 class="modal-title create-task-title" id="modal-title">{{$ctrl.modalTitle}}</h5>
    </div>
    <div class="col-xs-8">
      <form class="form-inline pull-right">
        <div class="form-group">
          <input type="text" ng-model="$ctrl.keyword" class="form-control" name="" placeholder="Nhập tên">
        </div>
        <input ng-click="$ctrl.doSearch()" type="submit" class="btn" value="Tìm kiếm">
      </form>
    </div>
</div>
<div class="modal-body modal-select-user" id="modal-body">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-user-system">
  <div ng-repeat="org in  $ctrl.organizations"
        ng-click="!$ctrl.showOrg(org) || $ctrl.selectOrg(org)">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wrap-infor-assigner">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 user-assign">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <h5><strong>{{org.name}}</strong></h5>
              <h6>{{org.address}}</h6>
          </div>
           <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <div ng-if="org.is_selected || $ctrl.isSelected(org)" class="circle-prior-normal"></div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-xs-12 ">
  <ul uib-pagination
    total-items="$ctrl.totalItems"
    max-size="10"
    items-per-page="$ctrl.perPage"
    ng-model="$ctrl.currentPage"
    ng-change="$ctrl.pageChanged()"
    previous-text="Trang trước"
    next-text="Trang sau"
    class="pull-right">
  </ul>
</div>

</div>
<div class="modal-footer modal-select-asignee add-document-popup-container">
    <button  class="btn btn-danger btn-cancel ng-scope" ng-click="$ctrl.ok()">Hủy</button>
    <button class="btn btn-primary btn-doc-save" type="button" ng-click="$ctrl.ok()"> Xong </button>
</div>
