<style type="text/css">
	.box-filter .box-header{
		height: 60px;
		background: #ededed;
	}
	.box-filter .line-box{
		height: 30px;
		background: #f0f0f0;
		
	}
	.box-filter .row{
		padding: 5px 15px 5px 15px;
	}
	 
	.box-popover{
		min-height: 300px !important;
		width: 500px !important;
		height: initial !important;

	}
	.popover{
	  top: 100px;
	  left: inherit !important;
	  right: 50px !important;

	}
</style>
<div class="box-filter">
	<div class="row box-header">
		<a>tab1</a>
		<a>tab2</a>
		<a>tab3</a>
	</div>
	<div >
		<div class="slide-animate" ng-include="template.url"></div>
		
	</div>

</div>