<div class="ui-base-view">
  <div class="dashboard-page">
    <div class="container-fluid">
      <div class="row header-login" ng-controller="searchController">
        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="navbar-header page-scroll">
            <a class="navbar-brand position-logo not-active" href="#">
              <img class="img-logo" ng-src="./assets/img/icons/logo-sungroup.png">
            </a>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <notification class="display-new-task" ng-if="createTask" ng-model="message"></notification>
          <div class="search">
            <input type="search" name="keyWord" ng-model-options="{ debounce: 300 }" ng-model="myKeyword" placeholder="Tìm kiếm tất cả" ng-click="pressSearch()" click-outside/>
            <!-- <span><i class="fa fa-times-circle" aria-hidden="true"></i></span> -->
            <ul class="search-results dropdown-menu" click-outside ng-style="mystyle">
              <li>
                <nav class="navbar navbar-menu">
                  <div>
                    <ul class="search-nav search-navbar-nav row">
                      <li class="col-xs-3 col-sm-3 {{type == 'work' ? 'active' : '' }}">
                        <a ng-click="changeSection('work')">Công việc</a>
                      </li>
                      <li class="col-xs-3 col-sm-3 {{type == 'project' ? 'active' : '' }}">
                        <a ng-click="changeSection('project')">Dự án</a>
                      </li>
                      <li class="col-xs-3 col-sm-3 {{type == 'person' ? 'active' : '' }}">
                        <a ng-click="changeSection('person')">Người</a>
                      </li>
                      <li class="col-xs-3 col-sm-3 {{type == 'document' ? 'active' : '' }}">
                        <a ng-click="changeSection('document')">Công Văn</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </li>
              <li>
                <ul class="my-scroll-area search-results-list" when-scrolled="loadMore()" ng-nicescroll nice-option="{cursorcolor: '#CFCFCF', cursorwidth: '8px',}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
                  <li ng-if="!myKeyword">
                    <div class="search-results-icon text-center">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      <p>Vui lòng nhập từ khóa</p>
                    </div>
                  </li>
                  <li>{{}}</li>
                  <li ng-if="myKeyword && (searchResults.length == 0)">
                    <div class="search-results-icon text-center">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      <p>Không tìm thấy kết quả nào</p>
                    </div>
                  </li>
                  <project-search ng-if="myKeyword" search="searchResults"></project-search>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="user-profile pull-right ">
            <ul class="list-profile">
              <li>
                <strong>{{displayName}}</strong>
              </li>
              <li>
                <img class="img-user" check-avatar-image ng-src="{{userAvatar}}">
              </li>
              <li>
                <div class="dropdown">
                  <div class="dropdown-toggle " role="button" data-toggle="dropdown">
                    <span class="caret"></span>
                  </div>
                  <ul class="dropdown-menu logout-menu">
                    <!-- TODO: Temporary remove 'change profile' (out of current scope) -->
                    <!-- <li>
                              <a ui-sref="dashboard.user-profile">
                                 Change profile
                              </a>
                           </li> -->
                    <li class="col-xs-12 col-md-12 col-lg-12">
                      <a href="#" ng-controller="logoutController" ng-click="logout()">
                                 Đăng xuất
                                 <i class="fa fa-long-arrow-right logout-arrow text-right"
                                 aria-hidden="true"></i>
                              </a>

                    </li>
                  </ul>
                </div>
              </li>

            </ul>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 sidebar">
          <div ng-controller="loginController">
            <ul class="left-menu-task row-content">
              <li handel-actived-nav data-parent="task">
                <!-- ng-click="activeMenu = 'Home'; changeTaskImage();" -->
                <img>
                <a href="#/dashboard/task-list" data-id="someCustomValue"> Công Việc</a>
              </li>
              <li handel-actived-nav data-parent="project" class="projectList">
                <img>
                <a href="#/dashboard/project-list"> Dự Án </a>
              </li>
              <li handel-actived-nav data-parent="report" class="reportExport">
                <img>
                <a href="#/dashboard/report-export"> Xuất báo cáo </a>
              </li>
              <li handel-actived-nav data-parent="users" class="users" ng-show="isProjectManager">
                <img>
                <a href="#/dashboard/users" ng-click="showChildMenu">Quản lý</a>
              </li>
              <div class="row">
                <div ng-show="isShowedChildMenu" class="child-menu">
                  <li handel-actived-nav data-parent="users">
                    <a href="#/dashboard/users">Người dùng</a>
                  </li>
                  <li handel-actived-nav data-parent="organizations">
                    <a href="#/dashboard/organizations">Cơ quan</a>
                  </li>
                </div>
              </div>
              <!-- <li handel-actived-nav data-parent="report" class="reportExport">
                <img>
                <a href="#/dashboard/organizations">Organizations</a>
              </li> -->
              <!-- TODO: Temporary remove 'Lich' (out of current scope) -->
              <!-- <li handel-actived-nav data-parent="schedule">
                     <img>
                     <a href="#" class="not-active"> Lịch </a>
                  </li> -->
            </ul>
          </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main" ui-view>
        </div>
      </div>
    </div>
  </div>
</div>
