<div class="container-fluid">
  <div class="row">
    <div class="row modal-header nopadding">
      <div class="col-xs-4">
        <h5 class="modal-title create-task-title" id="modal-title">{{title}}</h5>
      </div>
      <div class="col-xs-8" ng-if="canSearch">
        <form class="form-inline pull-right">
          <div class="form-group">
            <input class="form-control" name="" ng-model="keyword" placeholder="Nhập tên" type="text">
          </div>
          <input class="btn" ng-click="searchAction(keyword)" type="submit" value="Tìm kiếm"/>
        </form>
      </div>
    </div>
    <div class="modal-body modal-select-user col-xs-12" id="modal-body" >
      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-user-system modal-contain-view"> -->
      <div class="row nopadding alert alert-danger" ng-if="error" role="alert">
        <strong></strong>{{errorMessage}}
      </div>
        <div ng-if="items.length > 0" class="row nopadding modal-contain-view" infinite-scroll-distance='0' infinite-scroll='loadMoreData()' infinite-scroll-container="'.modal-contain-view'">
          <div class="col-xs-12 nopadding" ng-click="selectItem(item)" ng-repeat="item in items">
            <div ng-switch on="popupType">
              <item-organization ng-switch-when="organization" organization='item'></item-organization>
              <item-dependency ng-switch-when="task-dependency" task='item'></item-dependency>
              <item-member ng-switch-when="supervisor" member='item'></item-member>
              <item-member ng-switch-when="assignee" member='item'></item-member>
              <item-member ng-switch-when="assigner" member='item'></item-member>
              <item-member ng-switch-when="member" member='item'></item-member>
            </div>
          </div>
          <div class="col-xs-12" ng-if="busy">Đang tải dữ liệu ...</div>
        </div>

        <div ng-if="items.length === 0 && busy === false" class="row">
      	      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      	      </div>
      	      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 wrap-no-data">
      	            <img ng-src="./assets/img/icons/No_data_icon.png">
      	            <p class="no-data-text"> Chưa có dữ liệu</p>
      	      </div>
      	      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      	      </div>
         </div>
      <!-- </div> -->

    </div>
    <div class="modal-footer modal-select-asignee add-document-popup-container">
      <button class="btn btn-danger btn-cancel ng-scope" ng-click="cancelAction()">Hủy</button>
      <button class="btn btn-primary btn-doc-save" ng-click="doneAction()" type="button">
        Xong
      </button>
    </div>
  </div>
</div>
