<div class="row nopadding wrap-infor-assigner">
  <div class="col-xs-2 nopadding-right">
    <img check-avatar-image class="avatar-assign" ng-src="{{member.avatar}}">
  </div>
  <div class="col-xs-10 user-assign">
    <div class="row">
    <div class="col-xs-10 nopadding-left">
      <h5>
        <strong>{{member.last_name}}
          {{member.middle_name}}
          {{member.first_name}}</strong>
      </h5>
      <h6>{{member.position.name}}</h6>
    </div>
    <div class="col-xs-2">
      <div class="circle-prior-normal" ng-if="member.objectSelected"></div>
    </div>
  </div>
  </div>
</div>
