<div class="report-week-contain col-xs-12">
  <!-- Div select weeks -->
  <!-- <div class="report-week-select cursor-pointer col-xs-8" week-weport-outside-week-list ng-click="tapShowSelectWeek()"> -->
  <div class="report-week-select cursor-pointer col-xs-8" week-report-click-outside ng-click="tapShowSelectWeek()">
    <p class="p-number-week">Tuần 34</p>
    <p class="p-fromto-week">Từ 15/11/2016 đến 21/11/2016</p>
    <img class="img-icn-rp-down" ng-src="./assets/img/icons/icon-down.png">
  </div>
  <ul class="select-week-dropdown">
    <li>
      <ul class="report-week-items">
        <week-for-export-report ng-if="weeksExportReportResults.length > 0" weeks="weeksExportReportResults"></week-for-export-report>
      </ul>
    </li>
  </ul>

  <!-- Div select year -->
  <div class="report-year-select cursor-pointer col-xs-4" week-report-click-outside ng-click="tapShowSelectYear()">
    <p class="p-year">{{weekSelected.year}}</p>
    <img class="img-icn-rp-down" ng-src="./assets/img/icons/icon-down.png">
  </div>
  <ul class="select-year-dropdown" ng-style="mystyle">
    <li>
      <ul class="report-year-items">
        <year-export-report ng-if="weeksExportReportResults.length > 0" years="yearsExportReportResults"></year-export-report>
      </ul>
    </li>
  </ul>
</div>
