html, body{
   margin: 0;
   padding:0;
   height: 100%;
   width: 100%;
}

div:focus{
    outline: none;
}

button:focus{
    outline: none;
}
/*.left-menu{
	width: 19%;
}*/
.active{
	font-weight: bold;
}
.left-menu-task  .active a{
	color: #fed000;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
.position-logo{
	/*padding-left: 32px;*/
}
.search-icon{
	color: gray;
}
.img-manager-project{
  float: left;
  margin: 7px 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

[ui-view] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.ui-base {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ui-base-view {
    position: relative;
    overflow-x: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.user-avatar {
  width: 125px;
  height: 125px;
}
.circle-prior-urgent{
  background: #fc2952;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #fca1b3;
}
.circle-prior-hight{
    background: #ff9500;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #ffcd82;
}
.circle-prior-normal{
    background: #42dd5d;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #aeedc0;
}
.circle-prior-low {
    background: #a4a4a4;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #dadada;
}
.wrap-circle {
  padding-left: 27px;
}
.btn-add-document{
  border: none;
  background: #fed000;
  border-radius: 50%;
  color: white;
}
.btn-add-document i{
  font-size: 10pt;
  font-weight: bold;

}
.no-margin{
  margin:0px;
  resize: none;
}
.btn-no-bg{
  border: none;
  background: none;
  padding-left: 30px;
}
.lb-count{
  background: red;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 40%;
}
.list-user-system{

}
.cursor-pointer{
  cursor: pointer;
}
.task-detail a{
  padding: 5px;
}
.description-task p{
  padding-top: 10px;
  padding-left: 15px;
  width: 95%;
}
.list-priority img{
  width: 20px;
  height: 20px;
}
.list-priority > li{
  margin: 10px 0px 10px 15px;
}
.task-inprogress a{
  color: black;
  font-weight: bold;
}
.task-inprogress img {
  width: 20px;
  height: 20px;
}
.task-list img {
    width: 20px;
    height: 20px;
}
.no-margin{
  margin: 0px;
}
.task-list .disabled span{
  color: #ccc;
}
.task-list .disabled:hover{
  cursor: default;
}
.img-project-creator {
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 25px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icons/default_avatar.png");
}
}
.progress-lated::after{
  background-color: red;
}
.progress-project{
  position: relative;
}
.progress-project span{
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 14px;
}
.progress-project span#start-date{
  position: absolute;
  left: 0;
  right: inherit;
  top: 15px;
  font-size: 14px;
  color: #666;
}
.progress > .row{
  position: relative;
}
#start-date-not-late{
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 14px;
}
.dropdown-icon{
  padding-left: 110px;
  position: relative;
  padding-bottom: 10px;
}
.dropdown-menu{
  margin-left: -9px;
}
.top-menu{
  height: auto;
  border-bottom: 1px solid #eee;
  margin-bottom: 1%;
  padding-bottom: 10px;
}
.top-menu .top-menu-title h5 {
  padding-left: 15px;
  padding-top: 2px;
}
.position-active{
  position: absolute;
  right: 10px;
  top: 4px;
}
.list-priority li{
  position: relative;
}
.name-task{
  color: #666;
}
.disabled-document-frm [disabled]{
  background-color: white;
  cursor: default;
}
.publish-day{
  margin-top: -15px;
}
.publish-day .input-group{
  margin-left: 10px;
}
.txt-publish-date{
  color: #ccc;
}
.display-new-task{
    position: absolute;
    z-index: 2000;
    top: 54px;
    left: 0px;
    width: 100%;
}
.display-new-project{
    position: absolute;
    z-index: 2000;
    top: 6px;
    left: 0px;
    width: 100%;
}
.display-delete-success{
  position: absolute;
  z-index: 2000;
  top: 6px;
  left: 0px;
  width: 100%;
}

.modal-contain-view {
  height: 350px;
  overflow-y: auto;
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.nopadding-right {
   padding-right: 0 !important;
   margin-right: 0 !important;
}

.nopadding-left {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.icon_normal {
  width: 25px;
  height: 25px;
}

.confirm-dialog-title {
  font-size: 20px
}

.confirm-dialog-body {

}

.button-noborder-fullwidth {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  margin-left: 5px;
}
