.search body {
    background: #f7f7f7;
    color: #404040;
    font-weight: normal;
    line-height: 20px;
}

.search a {
    color: #1e7ad3;
    text-decoration: none;
}

.search a:hover { text-decoration: underline }

.search input {
    color: #555860;
}
.search {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    border-radius: 2px;
}
.search input {
    height: 30px;
    width: 100%;
    padding: 0 12px 0 45px;
    background: white url("../../../img/icons/icn-search.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 2px;
}
.search input:focus {
    outline: none;
}

/*.search input add attribute display block when .search-result first child li is focused*/
.search-results li:nth-child(0) {
}

.search .search-results li .navbar-menu {
    margin-bottom: 10px !important;
    border-radius: 0px;
    border-bottom: 1px solid #d8d8d8;
    min-height: 20px;
}

.search .search-results li .navbar-menu ul li
{
    padding: 0px;
    text-align: center;
    margin-bottom: 3px;
}
.search .search-results li .navbar-menu ul li:not(:last-child) {
    border-right: 1px solid #d8d8d8;
}


.search .search-results {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 5px;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    background-color: #fdfdfd;
    border-radius: 2px;
}

.search .search-results li { display: block }

.search .search-results li .search-nav a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 2px 5px 7px 5px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    cursor: pointer;
}
.search .search-results a:hover {
    text-decoration: none;
}
.search .search-results a:focus {
    text-decoration: none;
}

.search-results-icon {
    /*padding: 45px 20px 40px 20px;*/
    color: #CFCFCF;
}
.search-results-icon p {
    margin-top: 40px;
}

.search-results-icon i {
    font-size: 70px;
    margin-top: 30px;
}

.search-results-list {
    padding: 0 20px 0 10px;
}

ul.search-results-list {
  list-style: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
.search-results {
    padding-bottom: 15px !important;
}
.search-results .search-results-list {
    max-height: 270px;
    overflow: auto;
}

.search-results .search-results-list>li>a {
    padding: 3px 20px 3px 10px!important;
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 20px }

.search-navbar-nav {
    margin: 0;
}

.search .nav>li>a:focus,
.search .nav>li>a:hover {
    background-color: none;
}
.search .search-nav {
    padding-left: 0px;
}

.search .active::after {
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom: -3px;
    border-bottom: 1px solid #ebc741;
}

.search .search-nav li a:hover::after {
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom: -3px;
    border-bottom: 1px solid #cfcfcf;
}



.project-list-search, .project-list-search > a {
    display: table !important;
    width:100%;
}
.project-list-search a {
    padding-left: 10px!important;
}

.project-list-search img{
    width: 45px !important;
    height: 45px !important;
    border-radius: 5px;
    float: left;
}
.project-list-search .content {
    padding-left: 10px;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    width: 85%;
    display: inline-block;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    color: #808394;
}
.project-list-search{
    padding-bottom: 10px;
}
