.pdl0 {
	padding-left: 0 !important;
}
.project-name {
	font-weight: bold;
}
.project-img {
	float: left;
	width: 35px;
	height: 35px;
}
.project-period{
	margin-top: 0px;
}
.wrap-project{
	padding-left: 0px;
}

.wrap-comment {
	margin-top: 5px;
	background:#f0f0f0;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
}
.status-task {
	padding-bottom: 15px;
	border-bottom: 1px solid #c4c4c4;
	margin-left: 0px;
}
.detail-tab{
	font-size: 12px;
	background: #f0f0f0;
}
.icon-status {
	padding-top: 7px;
}
.task-detail{
	margin-top: 20px;
}
.task-detail > div:hover{
	cursor: pointer;
}
.header-comment{
	border-bottom: 1px solid #c4c4c4;
	height: 50px;
}
.name-task-detail{
	color: #0077ff;
	font-weight: bold;
}
.progress-project{
	height: 14px;
	border-radius: 0px;
	width: 32em;
}
.wrap-progress{
	margin: auto;
}
.start-date{
	padding-left: 24px;
	width: 6%;
}
.person-assign-task{
	/*width: 70%;*/
	border: 1px solid;
	border-radius: 35px;
	padding: 1px;
	margin-left: 14px;
}
.title-task{
	margin-top: 20px;
}
.person-assign1{
	padding-left: 0px;
}
.person-assign2{
	padding-left: 0px;
    padding-right: 0px;
}

.icon-assign{
	height: 22px;
	margin-top: 13px
}
.chat-input{
	bottom: -50px;
	position: absolute;
	height: 38px;
	border-radius: 5px;
	left: 0;
	right: 0;
}
.users-comment {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.users-comment li {
	float: left;
}
.users-comment li img{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.close-comment{
	margin-top: 15px;
}
.img-manager-task{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin-right: 10px;
  /*float: right;*/
  /*background-image: url("../../../img/icons/default_avatar.png");*/
}

.report-image {
  padding-top: 11px;
  padding-left: 0px;
}

.img-manager-my-task{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin-left: 10px;
  float: left;
  /*background-image: url("../../../img/icons/default_avatar.png");*/
}

.task-list-top-info {
  padding-top: 10px;
}

.img-manager-task2 {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	float: right;
	margin-right: 1px;
	/*background-image: url("../../../img/icons/default_avatar.png");*/
}
.wrap-task-detail a{
	color: #0079fb;
}

.task-priority {
  /*float: right;*/
  padding-right: 10px;
}

/* Progress Bar */
.task-progress-bar {
  width: 90%;
  height: 100px;
  position: relative;
}

.running-man {
  background: yellow;
  height: 50px;
  position: relative;

}

.running-man-percent {
  width: 50px;
  height: 100%;
  margin-top: -5px;
  float: right;
}

.running-man-date {
  margin-bottom: -9px;
  font-size: 12px;
  font-weight: normal;
}

.running-man-percent > label {
  width: 100%;
  height: 16px;
  text-align: center;
  color: white;
  background: #0077ff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle

}

.running-man-icon-percent {
  width: auto;
  height: auto;
}

.running-man-date-indicator {
  margin-top: 5px;
  margin-left: 5px;
}

.running-main-right-contain {
  position: relative;
  height: 26px;
}

.bar-info {
  height: 50px;
  position: relative;
  margin-top: 26px;
}

.bar-body {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.common-bar {
  height: 100%;
  position: relative;
  float: left;
  /*top: 20;
  right: 0;
  left: 0;
  bottom: 0;*/
}

.late-bar {
  background: red;
}

.new-bar {
  background: gray;
}

.inprogress-bar {
  background: black;
}

.common-bar-column {
  position: absolute;;;
  height: 30px;
  width: 4px;
}

.begin-bar-column {
  left: 0;
  top: 0;
}

.end-bar-column {
  right: 0;
  top: 0;
}

.inprogress-column {
  background: black;
}

.new-column {
  background: gray;
}

.late-column {
  background: red;
}

.bar-footer-info {
  width: 100%;
  height: 20px;
  position: relative;
  margin-top: -14px;
}

.bar-footer-start-date > label {
  position: absolute;
  left: 0px;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.bar-footer-end-date {
  position: relative;
}

.bar-footer-end-date > img {
  left: 10px;
  position: absolute;
}

.running-man-right {
  width: 90px;
  /*position: relative;;
  right: 0px;*/
  float: right;
}

.running-man-icon {
  float: right;
  margin-top: -9px;
  margin-right: 0px;
}

.running-man-left {
  margin-left: 0px;
}

.running-man-left .running-man-icon {
  float: left;
  margin-top: -9px;
  margin-left: -6px;
}

.running-man-left .running-man-percent {
  float: left;
  margin-top: -9px;
  margin-left: -3px;
}

.running-man-left .running-man-date-indicator {
  margin-top: -3px;
  margin-left: 12px;
}

.running-man-left .running-man-date {
    margin-bottom: -6px;
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}

.plan-start-date {
  float: left;
  margin-top: -30px;
}

.plan-start-date > div{
  float: left;
}


.plan-end-date {
  float: right;
  margin-top: -30px;
}

.plan-end-date > div{
  float: left;
}

.plan-date-info {
  width: 50%;
  margin: auto;
}
/*
.progress {
	background-color: #e6e6e6;
	overflow: visible;
	height: 14px;
	border-radius: 0px;
}
.progress-bar {
	position: relative;

}
.progress-bar:after {
	content:"";
	background-color: #4e4e4e;
	width: 3px;
	height: 22px;
	margin-top: -8px;
	float: right;
}
.runner-process{
}*/
.start{
	background-color: #4e4e4e;
	width: 3px;
	height: 8px;
	margin-top: -8px;
}
.end{
	background-color: #e6e6e6;
	width: 3px;
	height: 22px;
	margin-top: -43px;
	float: right;
}
.progress-project{
	background-color: #4e4e4e;
}
.percent-notify{
	background: #0077ff;
}
.shape {
  height: 50px;
  width: 200px;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  border-top: 2px solid red;
  border-left: 2px solid red;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.flat-start-date img {
	float: right;
}
.currentdate {
	border-bottom: 1px solid #4e4e4e;
}
.runner-process-icon img{
	float: right;
}
.current-percent {
	float: right;
}
.runner {
	padding-bottom: 10px;
}
.has-scrollbar{
	height: 380px;
}
.avatar-comment{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#chitiet{
	background: pink;
}
.activeTab{
	color: #0079fb;
	padding-bottom: 15px;
	border-bottom: 3px solid #0079fb;
	cursor: default;
	font-weight: bold;
}
.status-task a {
	text-decoration: none;
}
.avatar-task-detail{
	width:70px;
	height: 70px;
}
.task-detail-panel {
	margin-top: 15px;
}
.user-assign{
	border-bottom: 1px solid #ccc;
}
.avatar-assign{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
}
.wrap-infor-assigner{
	margin-bottom: 5px;
}
.wrap-infor-assigner:hover{
	cursor: pointer;
}
.wrap-assign-task{
	padding: 30px;
	color: #666;
}
.info-assigner{
	margin-bottom: 6%;
	overflow-y: auto;
	max-height: 320px;
}

.btn-complete{
	background-color: #dfdfdf;
}
.popover.bottom>.arrow:after{
	margin-left: -13px;
}
.popover.bottom>.arrow{
	top: -22px;
	margin-left: -167px;
	border-bottom-color: white;
}

.plan-end-date  h5{
	float: right;;
}
.popover.bottom>.arrow{

}
.task-list {
	position: static;
}
.task-list .search-results {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 0;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #cbcfe2 #c8cee7 #c4c7d7;
	background-color: #fdfdfd;
}
.icon-assign{
	margin-left: -6px;
}
.task-list {
	line-height: 35px;

}
.task-thumbnail{
    width: 50px;
    height: 50px;
    padding: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 1px;
}
.task-title{
 	float: left;
 	width: 80%;
 	height: 50px;
 	padding: 15px;
    padding-left: 5px;
}
.task-title h5,.task-title h6{
	margin: 0px;
}
.task-title h6{
	padding-top: 5px;
}
.detail-tab{
	text-align: center;
}
.task-detail a{
	color: black;
}
.lb-edit-task{
	padding-right: 48px;
}
.lb-edit-task a{
	//font-weight: bold;
}
.custom-task li:hover{
	font-weight: bold;
}
.task-detail a.activeTab{
	color: #0077ff;
}
.progress{
	margin-top: 5px;
}
.name-task-detail{
	margin: 0px;
    margin-top: 5px;
    line-height: 20px;
}
.disabled-user{
	opacity: 0.5;
}
/*.detail-tab img{
	width: 18px;
	height: 18px;
}*/
span{
	cursor: pointer;
	color: #666;
}
.description-task{
	height: 200px;
	overflow-y: auto;
	margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

@media only screen and (min-width: 1200px){
	.person-assign-task{
		/*width: 70%;*/
		border: 1px solid;
		border-radius: 35px;
		padding: 1px;
		margin-left: 14px;
	}
	.icon-assign {
		height: 22px;
		margin-top: 13px;
	}
	.popover{
		min-width: 752px;
		height: 400px;
		left: -187px !important;
		border: 1px solid white;
	}
	.img-manager-task2 {
	    margin-left: 0px;
	}
}


@media only screen and (min-width: 768px){

	.img-manager-task2 {
	    margin-left: 0px;
	}
}
@media only screen and (min-width: 992px){
	.person-assign-task{
		width: 100%;
		border: 1px solid;
		border-radius: 35px;
		padding: 1px;
		margin-left: 14px;
	}
	.popover{
		min-width: 662px;
		height: 383px;
		left: -165px !important;
		border: 1px solid white;
	}
	.popover.bottom>.arrow {
		top: -12px;
		margin-left: -146px;
		border-bottom-color: white;
	}
}

@media only screen and (min-width: 1025px){
	.task-list {
		font-size: 14px;
	}
}
@media screen and (min-width: 1024px){
  	.popover{
		min-width: 752px;
		height: 400px;
		left: -187px !important;
		border: 1px solid white;
	}
	.person-assign2 {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.img-manager-task2 {
	    border-radius: 50%;
	    width: 45px;
	    height: 45px;
	}
	.img-runner {
		padding-top: 5px;
		width: 25px;
		height: 25px;
	}
	.disabled-task{
		color: #ccc;
		cursor: not-allowed;
	}
  .non-editable-task{
    color: #ccc;
    cursor: not-allowed;
  }
	.disabled-task span{
		color: #ccc;
		cursor: not-allowed;
	}
	.disabled-task a{
		color: #ccc;
		cursor: not-allowed;
	}
	.custom-task{
		list-style-type: none;
	}
	.custom-task li{
		padding: 5px;
	}
	.delete-task{
		padding: 9px !important;
	}
}
