<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wrap-infor-assigner">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img check-avatar-image class="avatar-assign" ng-src="{{member.avatar}}">
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 user-assign">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <h5><strong>{{member.last_name}} {{member.middle_name}} {{member.first_name}}</strong></h5>
          <h6>{{member.position.name}}</h6>
      </div>
       <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div class="{{member.selectedMember}}"></div>
      </div>
    </div>
  </div>
