<div class="row panel panel-default task-list-panel task-list-item">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="row task-list-top-info">
        <div class="col-xs-11 col-sm-11 col-md-10 task-list-basic-info">
          <span class="task-list-project-name" style="float:left">
            <img class="task-icon-project" ng-src="./assets/img/icons/icn-project-name.png"/>

            {{task.project.name | filterTaskProjectName}}
          </span>
          <span style="float:right">
            <small>Đã giao cách đây
              {{task.assign_date | formatTime}}
            </small>
            <span></div>
            <div class="col-xs-1 col-sm-1 col-md-2">
              <div class="task-priority">
                <div class="{{task.priority | priority}}"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 task-img-manager">
              <img check-avatar-image class="img-manager-my-task" ng-src="{{task.assigner.avatar}}" title="{{task.assigner | displayUserName}}"/>
            </div>
            <div class="col-xs-11 col-md-11 col-sm-11 task-list-title">
              <div class="wrap-task-detail">
                <a ui-sref="dashboard.task-detail({idTask: task._id })">
                  <h5 class="task-info-name-label {{task.plan_end_date | titleTaskClass : task.status}}">
                    {{task.title}}
                  </h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row task-list-panel-info">
        <div class="col-xs-4 col-sm-4 addition-info">
          <div class="col-xs-12 task-list-info-detail">
            <div class="task-icon">
              <img class="info-icon" ng-src={{task|taskStatusIcon}}>
              <h6>{{task.plan_end_date | taskStatus : task.status}}</h6>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 addition-info">
          <div class="col-xs-12 task-list-info-detail">
            <div class="task-icon">
              <img ng-src="./assets/img/icons/icn-tac-vu.png"/>
              <h6>
                <strong>{{task.children_task}}
                  Tác vụ</strong>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 addition-info">
          <div class="col-xs-12 task-list-info-detail">
            <div class="task-icon">
              <img ng-src="./assets/img/icons/icn-comment.png"/>
              <h6>
                <strong>{{task.comments}}
                  Bình luận</strong>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
