<div class="project-create">
	<form name="addTask" novalidate>
	<div class="row top-menu">
		<div class="col-xs-7 col-sm-7 col-md-8 task-create-title">
			<h5><strong>{{title_page}}</strong></h5>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-4">
			<div class="project-btn-group">
				<a ng-if="!isCreatSubTask" ui-sref="dashboard.project-infomation({idProject: idProject})" class="btn btn-danger btn-cancel" ui-sref="dashboard.project-list">Hủy</a>

				<a ng-if="isCreatSubTask" ui-sref="dashboard.task-detail({idTask: idTask})" class="btn btn-danger btn-cancel" ui-sref="dashboard.project-list">Hủy</a>

				<button ng-disabled="processing" ng-click="createNewTask()"
				 type="button" class="btn btn-primary btn-complete">
				<i class="fa fa-check" aria-hidden="true"></i> Hoàn Thành</button>
			</div>
		</div>
	</div>
	<div class="proj-create-body task-list-icon-container">
    <div ng-if="error" class="alert alert-danger" role="alert">
        {{mgs_error}}
    </div>
		<div ng-if="isCreatSubTask" class="task-create-add-file">
			<img ng-src="./assets/img/icons/icn-Task-detail-tab.png" class="icon_normal">
			<button>{{taskDetail.title}}</button>
		</div>

		<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="task-required"></p>
			<img ng-src="./assets/img/icons/icn-name-of-task.png" class="icon_normal">
			<input  type="text" ng-model="title" name="name" required placeholder="Tên công việc">
		</div>

		</div>
		 <div ng-if="!isCreatSubTask" class="task-create-add-file">
            <img ng-src="./assets/img/icons/Cong-viec-phu-thuoc-icon.png" class="icon_normal" class="icon_normal">
            <button ng-click="openBoxTaskDependency('dependency_main_task')">Công việc phụ thuộc</button>
            <span class="badge badge-notify">{{selectedDependencyTasks.length}}</span>
        </div>
        <div ng-if="isCreatSubTask" class="task-create-add-file">
			<img ng-src="./assets/img/icons/Cong-viec-phu-thuoc-icon.png" class="icon_normal">
            <button ng-click="openBoxTaskDependency('dependency_sub_task')">Công việc phụ thuộc</button>
            <span class="badge badge-notify">{{selectedDependencyTasks.length}}</span>
		</div>
		<div class="task-create-add-file">
            <img ng-src="./assets/img/icons/goverment_96.png" class="icon_normal">
            <button ng-click="openBoxOrganization('organization')">Cơ quan</button>
            <span class="badge badge-notify">{{selected_org.length}}</span>
        </div>
        <div class="task-create-add-file">
            <img ng-src="./assets/img/icons/supervisor_normal_icon.png" class="icon_normal">
            <button ng-click="openMemberBox('supervisor')">Người giám sát</button>
            <span class="badge badge-notify">{{selectedSupervisors.length}}</span>
        </div>
        <div class="task-create-add-file">
            <img ng-src="./assets/img/icons/assigner_normal_icon.png" class="icon_normal">
            <button ng-click="openMemberBox('assigner')">{{assignerName()}}</button>
        </div>
        <div class="task-create-add-file">
            <img ng-src="./assets/img/icons/assignee_normal_icon.png" class="icon_normal">
            <button ng-click="openMemberBox('assignee')">{{assigneeName()}}</button>
        </div>
		<div class="row task-create-add-file-calendar">
			<div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
				<p class="task-required"></p>
				<img ng-src="./assets/img/icons/icn-start-date.png" class="icon_normal">
				<p class="calendar-input-group input-group ">
					<input type="button" class="form-control calendar-date-picker" uib-datepicker-popup="{{format}}"
					ng-model="plan_start_date" style="{{changeStartDateStyle}}" ng-change="changeStartDate()" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false"
					name = "start_date" alt-input-formats="altInputFormats" showWeeks="false" ng-click="open1()" value="Ngày bắt đầu"/>
				</p>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
				<p class="task-required"></p>
				<img ng-src="./assets/img/icons/icn-end-date.png" class="icon_normal">
				<p class="calendar-input-group input-group ">
					<input type="button" class="form-control calendar-date-picker" uib-datepicker-popup="{{format}}"
					ng-model="plan_end_date" style="{{changeEndDateStyle}}" ng-change="changeEndDate()" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false"
					name = "end_date" alt-input-formats="altInputFormats" showWeeks="false" ng-click="open2()" value="Ngày kết thúc" />
				</p>
			</div>
		</div>
		<div class=" row task-create-add-file">
			<div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 dropdown task-priority">
				<div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<img ng-src="{{iconPriority}}" class="icon_normal">
						<span ng-model="namePriority">Độ ưu tiên</span>
				</div>
				<div class="dropdown-menu"  aria-labelledby="dropdownMenu1">
					<div class="row" ng-repeat="priority in priorities"
						 ng-click="prioritySelected(priority)">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<img ng-src="{{priority.urlIcon}}" class="icon_normal">
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
							<span>{{priority.name}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-5 col-md-4 col-lg-3">
				<img ng-src="./assets/img/icons/icn-attach.png">
				<button ng-click="addDocument()">Đính kèm</button>
				<span class="badge badge-notify">{{numberFile}}</span>
			</div> -->
		</div>
        <div>
            <img ng-src="./assets/img/icons/icn-content.png" class="icon_normal">
            <textarea rows="3" placeholder="Mô tả" ng-model="description"></textarea>
        </div>
	</div>
	</form>
</div>
