<div class="row top-menu">
  <div class="task-thumbnail">
    <img class="project-img" ng-src="./assets/img/icons/default_image.png">
  </div>
  <div class="task-title">
    <a class="cursor-pointer name-task" ng-href="#/dashboard/projects/{{taskInformation.project._id}}/thongtin">
      <h5 class="project-name">{{taskInformation.project.name}}</h5>
    </a>
    <h6>{{taskInformation.plan_start_date | formatDate}}
      -
      {{taskInformation.plan_end_date | formatDate}}</h6>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.message}}</div>

    <div class="row task-detail  status-task">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center" ng-repeat="tab in tabs">
        <a class="cursor-pointer" ng-class="{activeTab: isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</a>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center lb-edit-task
					{{checkStatus(taskInformation.status) ? 'disabled-task' : ''}}">
        <span aria-expanded="true" aria-haspopup="true" class="cursor-pointer" data-toggle="dropdown" id="status_task">
          <i aria-hidden="true" class="fa fa-ellipsis-h"></i>
        </span>
        <div aria-labelledby="dropdownMenu1" class="dropdown-menu">
          <div class="row no-margin {{task.disabled == true || checkStatus(taskInformation.status)? 'disabled' : '' }}" ng-class="">
            <ul class="custom-task">

              <li ng-if="taskInformation.can_change == true">
                <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                <a  ui-sref="dashboard.edit-task({idTask: taskId})">
                  Sửa</a>
              </li>

              <li class="disabled-task" ng-if="taskInformation.can_change == false">
                <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                <a href="javascript:;">
                  Sửa
                </a>
              </li>


              <li class="delete-task" ng-if="taskInformation.can_delete == true">
                <i aria-hidden="true" class="fa fa-trash"></i>
                <a ng-click="removeTask(taskId)">Xóa</a>
              </li>
              <li class="disabled-task" ng-if="taskInformation.can_delete == false">
                <i aria-hidden="true" class="fa fa-trash"></i>
                <a href="javascript:;">
                  Xóa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="currentTab"></div>
    <div class="row" ng-show="currentTab == 'tacvucon' && childrenTasks.length != 0">
      <div class="col-xs-12 col-sm-12 dynamic-paging">
        <ul boundary-links="true" class="pagination-sm" class="pull-right" first-text="Trang đầu" force-ellipses="true" items-per-page="perPage" last-text="Trang cuối" max-size="5" next-text="Trang sau" ng-change="pageChanged()" ng-model="currentPage" previous-text="Trang trước" total-items="totalItems" uib-pagination></ul>
      </div>
    </div>
    <div class="row" ng-show="currentTab == 'tacvucon' && childrenTasks.length == 0">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 wrap-no-data">
        <img ng-src="./assets/img/icons/No_data_icon.png">
        <p class="no-data-text">
          Chưa có dữ liệu</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    <script id="chitiet" type="text/ng-template">
      <div class="row detail-tab">
        <a class="col-xs-3 col-sm-3 col-md-3 col-lg-3 task-list {{!isOwner ? 'disabled-task' : ''}}" href="javascript:void(0)">
          <div class="row">
            <div class="col-xs-12">
              <span aria-expanded="true" aria-haspopup="true" class="cursor-pointer" data-toggle="dropdown" id="status_task">
                <img ng-src="{{status_task_default.icon}}">
                {{status_task_default.name}}
              </span>
              <div aria-labelledby="dropdownMenu1" class="dropdown-menu">
                <div class="row no-margin {{task.disabled == true ? 'disabled' : '' }}" ng-class="" ng-click="statusSelected(task)" ng-repeat="task in validActionList">
                  <div class="col-xs-12">
                    <img ng-src="{{task.icon}}">
                    <span>{{task.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a class="col-xs-3 col-sm-3 col-md-3 col-lg-3 task-list" href="javascript:void(0)" ng-click="openBox('assigner', taskInformation.status)">
          <div class="row {{(checkStatus(taskInformation.status) || !isOwner) ? 'disabled-task' : ''}}">
            <div class="col-xs-12">
              <img ng-src="./assets/img/icons/icn-assign-task.png" style="margin-bottom: 7px;">
              <span>Giao việc
              </span>
            </div>
          </div>
          <ul class="search-results" ng-click="noHidden()" ng-hide="custom">
            <div class="row wrap-assign-task" ng-controller="taskDetailController">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <input class="form-control" placeholder="Tìm kiếm tất cả" type="text">
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 info-assigner">
                <div ng-click="selectMember(member)" ng-repeat="member in membersProject">
                  <assign-task member='member'></assign-task>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"></div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 wrap-btn-complete">
                  <button class="btn btn-default btn-complete" ng-click="completeAssign()">Hoàn Thành</button>
                </div>
              </div>
            </div>
          </ul>
        </a>
        <a class="col-xs-3 col-sm-3 col-md-3 col-lg-3 task-list" href="javascript:void(0)">
          <div class="dropdown">
            <div aria-expanded="true" aria-haspopup="true" class="row {{(checkStatus(taskInformation.status) || !isOwner)  ? 'disabled-task' : ''}}" data-toggle="dropdown" id="dropdownMenu1">
              <div class="col-xs-12">
                <img ng-src="{{taskInformation.iconPriority}}">
                <span>Độ ưu tiên</span>
              </div>
            </div>
            <div aria-labelledby="dropdownMenu1" class="dropdown-menu" ng-if="!checkStatus(taskInformation.status)">
              <div class="row" ng-click="prioritySelected(priority)" ng-repeat="priority in priorities">
                <div class="col-xs-12">
                  <img ng-src="{{priority.urlIcon}}">
                  <span>{{priority.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a class="col-xs-3 col-sm-3 col-md-3 col-lg-3 task-list" ng-if="!checkStatus(taskInformation.status)" ui-sref="dashboard.sub-task-create({idProject: projectId, idTask: taskId})">
          <div class="row {{(checkStatus(taskInformation.status) || !isOwner)  ? 'disabled-task' : ''}}">
            <div class="col-xs-12">
              <img ng-src="./assets/img/icons/icn-themtacvucon.png" style="margin-bottom: 3px;">
              <span>Tác vụ con</span>
            </div>
          </div>
        </a>
        <a class="col-xs-3 col-sm-3 col-md-3 col-lg-3 task-list" href="javascript:;" ng-if="checkStatus(taskInformation.status)">
          <div class="row {{checkStatus(taskInformation.status) ? 'disabled-task' : ''}}">
            <div class="col-xs-12">
              <img ng-src="./assets/img/icons/icn-themtacvucon.png" style="margin-bottom: 3px;">
              <span>Tác vụ con</span>
            </div>
          </div>
        </a>
      </div>
      <div class="row title-task">
        <div class="col-xs-12 col-sm-12 add-alert"></div>
        <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3">
          <div class="row person-assign-task">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 person-assign1">
              <img check-avatar-image class="img-manager-task" ng-src="{{taskInformation.assigner.avatar}}" title="{{taskInformation.assigner | displayUserName}}">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <img class="icon-assign" ng-src="./assets/img/icons/icn-assign.png">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 person-assign2">
              <img check-avatar-image class="img-manager-task2" ng-src="{{taskInformation.owner.avatar}}" title="{{taskInformation.owner | displayUserName}}">
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-sm-7 col-md-7 col-lg-8">
          <h5 class="name-task-detail">{{taskInformation.title}}</h5>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <img id="img_icn_task_lock" ng-src="{{taskInformation.iconLock}}">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 ">
          <p class="description-task">
            {{taskInformation.description}}
          </p>
          <div class="task-progress-bar">
            <div class="plan-date-info">
              <div class="plan-start-date">
                <div>
                  <img height="20" ng-src="./assets/img/icons/icn-start-date.png" style="left:{{barFooterInfo.leftPosition}}px" width="20"></img>
                </div>
                <div>
                  <label>{{taskDetail.plan_start_date | formatDate}}</label>
                </div>
              </div>

              <div class="plan-end-date">
                <div>
                  <img height="20" ng-src="./assets/img/icons/icn-end-date.png" style="left:{{barFooterInfo.leftPosition}}px" width="20"></img>
                </div>
                <div>
                  <label>{{taskDetail.plan_end_date | formatDate}}</label>
                </div>
              </div>
            </div>

            <div ng-if="showProgressBar">
              <div class="running-main-right-contain" style="width:{{runningMan.barWidth}}%">
              <div class="running-man-right" ng-if="runningMan.showRight">
                <div class="running-man-date">
                  <label class="running-man-date">{{runningMan.date | formatDate}}</label>
                </div>
                <div class="bar">
                  <img class="running-man-date-indicator" height="10" ng-src="./assets/img/icons/date-indicator-right.png" width="60"></img>
                </div>
                <div class="running-man-icon-percent">
                  <div class="running-man-icon">
                    <img height="29" ng-src={{runningMan.icon}} width="29"></img>
                  </div>
                  <div class="running-man-percent" ng-if="runningMan.showPercent" style="float:right;">
                    <label>{{runningMan.percent}}%</label>
                  </div>
                </div>
              </div>
            </div>

              <div class="running-man-left" ng-if="!runningMan.showRight">
                <div class="running-man-date">
                  <label class="running-man-date">{{runningMan.date | formatDate}}</label>
                </div>
                <div class="bar">
                  <img class="running-man-date-indicator" height="10" ng-src="./assets/img/icons/date-indicator-left.png" width="60"></img>
                </div>
                <div class="running-man-icon-percent">
                  <div class="running-man-icon">
                    <img height="29" ng-src={{runningMan.icon}} width="29"></img>
                  </div>
                  <div class="running-man-percent" ng-if="runningMan.showPercent">
                    <label>{{runningMan.percent}}%</label>
                  </div>
                </div>
              </div>

              <div class="bar-info">
                <div class="common-bar" style="width:{{inprogressBarInfo.width}}%">
                  <div class="inprogress-bar bar-body" ng-if="inprogressBarInfo.show"></div>
                  <div class="inprogress-column begin-bar-column common-bar-column" ng-if="inprogressBarInfo.showBeginColumn"></div>
                  <div class="inprogress-column end-bar-column common-bar-column" ng-if="inprogressBarInfo.showEndColumn"></div>
                </div>

                <div class="common-bar" style="width:{{newBarInfo.width}}%">
                  <div class="new-bar bar-body" ng-if="newBarInfo.show"></div>
                  <div class="new-column begin-bar-column common-bar-column" ng-if="newBarInfo.showBeginColumn"></div>
                  <div class="new-column end-bar-column common-bar-column" ng-if="newBarInfo.showEndColumn"></div>
                </div>

                <div class="common-bar" style="width:{{lateBarInfo.width}}%">
                  <div class="late-bar bar-body" ng-if="lateBarInfo.show"></div>
                  <div class="late-column begin-bar-column common-bar-column" ng-if="lateBarInfo.showBeginColumn"></div>
                  <div class="late-column end-bar-column common-bar-column" ng-if="lateBarInfo.showEndColumn"></div>
                </div>
              </div>
              <div class="bar-footer-info">
                <div class="bar-footer-start-date">
                  <label>{{taskDetail.real_start_date | formatDate}}</label>
                </div>
                <div class="bar-footer-end-date">
                  <img height="20" ng-src="./assets/img/icons/icn-end-date.png" style="left:{{barFooterInfo.leftPosition}}px" width="20"></img>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script id="congvan" type="text/ng-template">
      <div ng-include="template_default.url"></div>
      <div class="row pull-right btn-add-document" style="margin-right: 15px;">
        <button class="btn btn-add-document
                        {{checkStatus(taskInformation.status) ? 'disabled-task' : ''}}" ng-click="checkStatus(taskInformation.status) ? 'false' : addDocument()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </script>
    <script id="tacvucon" type="text/ng-template">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div ng-repeat="children in childrenTasks">
                <task-infor task='children'></task-infor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script id="sua" type="text/ng-template">
      <h1>Sửa</h1>
    </script>
  </div>
  <div class="col-xs-4 col-sm-4
				 col-md-4 col-lg-4  wrap-comment">
    <div class="row header-comment">
      <div class="col-xs-10 col-sm-10">
        <ul class="users-comment">
          <li ng-bind-html-unsafe="avatar" ng-repeat="avatar in avatars track by $index">
            <img class="avatar-comment" ng-src="{{avatar}}">
          </li>
        </ul>
      </div>
      <div class="col-xs-2 col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <!--Widget body-->
        <div class="collapse in" id="demo-chat-body">
          <div class="nano has-scrollbar">
            <div class="nano-content pad-all" comment-scrolled="loadMoreComment()" style="right: -17px;" tabindex="0">
              <ul class="list-unstyled media-block">
                <div ng-repeat="commentDisplay in commentsDisplay track by $index">
                  <p class="text-center">{{commentDisplay.dateString}}</p>
                  <li class="mar-btm" ng-repeat="comment in commentDisplay.comments | orderBy: 'comment_date' track by $index">
                    <!-- <p class="text-center">{{commentDisplay.dateString}}</p> -->

                    <div class="{{comment.user._id == initUser ? 'media-right':'media-left'}}">
                      <img alt="Profile Picture" class="img-circle img-sm" ng-src="{{comment.user.avatar}}">
                    </div>
                    <div class="media-body pad-hor
  												{{comment.user._id == initUser ? 'speech-right':'speech-left'}}">

                      <div class="{{comment.comment_type !== 2 ? 'speech': 'speech-report'}}">
                        <div class="user-message
  														{{comment.user._id != initUser ? 'message-send':''}}">
                              <div ng-if="comment.comment_type !== 2">{{comment.message}}</div>
                              <div ng-if="comment.comment_type == 2 && comment.user._id == initUser">
                                {{comment.message_report}}
                              </div>
                              <div ng-if="comment.comment_type == 2 && comment.user._id != initUser"
                              ng-click="reportAction(comment, actionMode.VIEW)" class="cursor-pointer">
                                {{comment.message_report}}
                              </div>
                              <!-- <div ng-if="comment.comment_type === 2">{{comment.message_report}}</div> -->
                        </div>
                        <div class="edit-report-menu" ng-if="comment.comment_type == 2 && comment.user._id == initUser">
                          <div class="edit-report-menu-item" ng-click="openConfirmBox(comment._id)"><i class="fa fa-trash-o"></i></div>
                          <div class="edit-report-menu-item" ng-click="reportAction(comment, actionMode.EDIT)"><i class="fa fa-pencil"></i></div>
                          <div class="edit-report-menu-item" ng-click="reportAction(comment, actionMode.VIEW)"><i class="fa fa-eye"></i></div>
                        </div>

                        <!-- <div class="edit-report-menu" ng-if="comment.comment_type == 2 && comment.user._id != initUser">
                          <div class="edit-report-menu-item" ng-click="reportAction(comment, actionMode.VIEW)"><i class="fa fa-eye"></i></div>
                        </div> -->
                      </div>

                      <p>{{comment.created_at | timeComment}}</p>
                    </div>
                  </li>
                </div>

                <div id="bottom-message"></div>
              </ul>

            </div>
          </div>
          <div>
            <div ng-if="taskInformation.can_report" class="report-image pull-right col-xs-1">
              <button style="border: 0; background: transparent" ng-click="reportAction(null, actionMode.CREATE)">
                <img ng-src="./assets/img/icons/report-icon.png" width="38" height="38"></img>
              </button>
            </div>
            <div class="pull-left col-xs-11">
              <input / class="form-control chat-input" ng-keypress="($event.which === 13)?sendComment(contentComment):0" ng-model="contentComment" placeholder="Nhập bình luận..." type="text" value="new comment">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
