<div class="project-create">
 	<script type="text/ng-template" id="modalConfirmChange.html">
        <div class="modal-body" id="modal-body">
        <textarea ng-model="$ctrl.editer_comments" class="txt-change-reason" type="text" placeholder="Nhập lý do thay đổi của bạn..."></textarea>
        </div>
        <div class="modal-footer comment-box">
            <button class="btn btn-cancel" type="button" ng-click="$ctrl.ok()">Hủy</button>
            <button class="btn btn-send" type="button" ng-click="$ctrl.sendComments()">Gửi</button>
        </div>
    </script>
	<form name="addTask" novalidate>
	<div class="row top-menu">
		<div class="col-sm-7 col-md-8 top-menu-title">
			<h5><strong>Chỉnh Sửa Tác Vụ</strong></h5>
		</div>
		<div class="col-sm-5 col-md-4">
			<div class="project-btn-group">
				<a ng-if="isCreatSubTask" ui-sref="dashboard.task-detail({idTask: idTask})" class="btn btn-danger btn-cancel" ui-sref="dashboard.project-list">Hủy</a>
				<button ng-disabled="isChangedMasterData()"  ng-click="editTask()" type="button" class="btn btn-primary btn-complete"><i class="fa fa-check" aria-hidden="true"></i> Hoàn Thành</button>
			</div>
		</div>
	</div>
	<div class="proj-create-body task-list-icon-container">
		<div ng-if="error" class="alert alert-danger" role="alert">
				<strong></strong>{{mgs_error}}
		</div>

		<div ng-if="orginData.parent_task" class="task-create-add-file ng-scope">
			<img ng-src="./assets/img/icons/icn-Task-detail-tab.png" src="./assets/img/icons/icn-Task-detail-tab.png">
			<button class="ng-binding">{{orginData.parent_task.title}}</button>

		</div>
		<div>
			<img ng-src="./assets/img/icons/icn-name-of-task.png" class="icon_normal">
			<input type="text" ng-model="task.title" name="name" required placeholder="Tên công việc">
		</div>
		<div class="task-create-add-file">
            <img ng-src="./assets/img/icons/Cong-viec-phu-thuoc-icon.png" class="icon_normal">
            <button ng-click="openBoxTaskDependency('dependency_update_task')">Công việc phụ thuộc</button>
            <span class="badge badge-notify">{{selectedDependencyTasks.length}}</span>
        </div>
		<div class="task-create-add-file">
            <img ng-src="./assets/img/icons/goverment_96.png" class="icon_normal">
            <button ng-click="openBoxOrganization('organization')">Cơ quan</button>
            <span class="badge badge-notify">{{selected_org.length}}</span>
        </div>
        <div class="task-create-add-file">
            <img ng-src="./assets/img/icons/supervisor_normal_icon.png" class="icon_normal">
            <button ng-model="name_supervisor" ng-click="openMemberBox('supervisor')">Người giám sát</button>
            <span class="badge badge-notify">{{selectedSupervisors.length}}</span>
        </div>
        <div class="task-create-add-file">
            <img ng-src="./assets/img/icons/assigner_normal_icon.png" class="icon_normal">
            <button ng-model="name_assigner" ng-click="openMemberBox('assigner')">{{assignerName()}}</button>
        </div>
        <div class="task-create-add-file">
            <img ng-src="./assets/img/icons/assignee_normal_icon.png" class="icon_normal">
            <button ng-model="name_assigner" ng-click="openMemberBox('assignee')">{{assigneeName()}}</button>
        </div>
		<div class="row task-create-add-file-calendar">
			<div class="col-sm-5 col-md-4 col-lg-3">
				<img ng-src="./assets/img/icons/icn-start-date.png" class="icon_normal">
				<p class="calendar-input-group input-group">
					<input
					type="button"
					class="form-control calendar-date-picker"
					uib-datepicker-popup="{{format}}"
					ng-model="task.plan_start_date"
					style="{{changeStartDateStyle}}"
					ng-change="changeStartDate()"
					is-open="popup1.opened"
					datepicker-options="dateOptions"
					ng-required="true"
					show-button-bar="false"
					alt-input-formats="altInputFormats"
					showWeeks="false"
					ng-click="open1()"
					value="{{task.plan_start_date | formatDate:'Ngày bắt đầu'}}"/>
				</p>
			</div>
			<div class="col-sm-5 col-md-4 col-lg-3">
				<img ng-src="./assets/img/icons/icn-end-date.png" class="icon_normal">
				<p class="calendar-input-group input-group">
					<input
					type="button"
					class="form-control calendar-date-picker"
					uib-datepicker-popup="{{format}}"
					ng-model="task.plan_end_date"
					style="{{changeEndDateStyle}}"
					ng-change="changeEndDate()"
					is-open="popup2.opened"
					datepicker-options="dateOptions"
					ng-required="true"
					show-button-bar="false"
					alt-input-formats="altInputFormats"
					showWeeks="false"
					ng-click="open2()"
					value="{{task.plan_end_date | formatDate:'Ngày kết thúc'}}"/>
				</p>
			</div>
		</div>
		<div class=" row task-create-add-file">
			<div class="col-sm-5 col-md-4 col-lg-3 dropdown task-priority">
				<div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<img ng-src="{{iconPriority}}" class="icon_normal">
						<span ng-model="namePriority">Độ ưu tiên</span>
				</div>
				<div class="dropdown-menu"  aria-labelledby="dropdownMenu1">
					<div class="row" ng-repeat="priority in priorities"
						 ng-click="prioritySelected(priority)">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<img ng-src="{{priority.urlIcon}}" class="icon_normal">
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
							<span>{{priority.name}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-5 col-md-4 col-lg-3">
				<img ng-src="./assets/img/icons/icn-attach.png">
				<button ng-click="addDocument()">Đính kèm</button>
				<span class="badge badge-notify">{{numberFile}}</span>
			</div> -->

		</div>
        <div>
            <img ng-src="./assets/img/icons/icn-content.png" class="icon_normal">
            <textarea rows="3" placeholder="Mô tả" ng-model="task.description"></textarea>
        </div>
	</div>
	</form>
</div>
